<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="static/css/index.css" rel="stylesheet" type="text/css"/>
    <title>무엇이든 물어보살</title>
</head>
<body>
    <div class="container">
        <div class="chat-container">
            <div class="chat-header"><img src="static/images/inha_emb.png" height="45" width="45">INHA UNIVERSITY</div>
            <div class="messages">
                <div class="bot_prof"><img src="static/images/induk.jpg" height="45" width="45" style="cursor: pointer;" onclick="refreshPage()"></div>
                <div class="message_bot_name">
                    <div class="message-author">기계인덕 🦆</div>
                </div>
                <div class="message bot-message">
                    <div>안녕하세요, 저는 인하대학교 챗봇 기계인덕이에요🦆</div>
                    <div>✔홈페이지 공지사항 ✔에브리타임 등 열심히 공부했답니다😊</div>
                    <div>언제나 여러분의 궁금증을 해결해주는 기계인덕이 바로 답변해드려요!</div>
                    <div>창을 정리하고 싶다면 제 얼굴을 눌러주세요 @.@ </div>
                    <div class="message button-grid">
                        <div> <button onclick="chatbotAnswer('학사일정')">학사일정</button> </div>
                        <div> <button onclick="chatbotAnswer('캠퍼스맵')">캠퍼스맵</button> </div>
                        <div> <button onclick="chatbotAnswer('수강신청')">수강신청</button> </div>
                        <div> <button onclick="chatbotAnswer('교내연락처')">교내연락처</button> </div>
                        <div> <button onclick="chatbotAnswer('I-Class')">I-Class</button> </div>
                        <div> <button onclick="chatbotAnswer('생활관')">생활관</button> </div>
                        <div> <button onclick="chatbotAnswer('인하 포털')">인하 포털</button> </div>
                        <div> <button onclick="chatbotAnswer('정석학술정보관')">정석학술정보관</button> </div>
                        <div> <button onclick="chatbotAnswer('증명서 발급 시스템')">증명서 발급 시스템</button> </div>
                        <div> <button onclick="chatbotAnswer('국제처')">국제처</button> </div>
                    </div>
                </div>
            </div>
            <div class="message-input">
                <input type="text" id="user-input" placeholder="궁금하신 점을 질문해주세요 !" autofocus>
                <button_send id="sendButton" onclick="chatbotAnswer()">전송</button_send>
            </div>
        </div>
    </div>
    <script src="static/javascript/index.js"></script>
</body>
</html>